## Q1 Print Your Name with your Father’s name and Date of Birth using suitable escape sequence characters.

In [150]:
Name = "Qayas Mehtab"
Father_Name = "Muhammad Mehtab Abbasi"
DOB = "06-Dec-1990"
print("Name:", Name)
print("Father,s Name :", Father_Name)
print("Date of Brithday:", DOB)
Name = "Qayas"
Father_Name = "Muhammad Mehtab Abbasi"
DOB = "06-Dec-1990"
print("Name:", Name, "| Father's Name:", Father_Name, "| DOB:", DOB)
print("Name:", Name, "Father'Name:", Father_Name, "DOB:", DOB)

Name: Qayas Mehtab
Father,s Name : Muhammad Mehtab Abbasi
Date of Brithday: 06-Dec-1990
Name: Qayas | Father's Name: Muhammad Mehtab Abbasi | DOB: 06-Dec-1990
Name: Qayas Father'Name: Muhammad Mehtab Abbasi DOB: 06-Dec-1990

# Q2 Write your small bio using variables and print it using print function.

In [47]:
Name = "Qayas Mehtab"
Father_Name = "Muhammad Mehtab Abbasi"
DOB ="06-Dec-1990"
Country ="Pakistan"
Profession = "Bykea Rider,Learning Backend Cloud data engineering "
hubby = "Cricket,Treveling,and learning Devops/Cloud"
print("-----My Bio-----")
print("Name:", Name)
print("Father's Name:", Father_Name)
print("DOB:", DOB)
print("Country:", Country)
print("Profession:", Profession)
print("hubby:", hubby)

-----My Bio-----
Name: Qayas Mehtab
Father's Name: Muhammad Mehtab Abbasi
DOB: 06-Dec-1990
Country: Pakistan
Profession: Bykea Rider,Learning Backend Cloud data engineering
hubby: Cricket,Treveling,and learning Devops/Cloud

# Q3 Write a program in which use all the operators we can use in Python”.
- (a) Arithmetic
- (b) Comparison
- (c) Assignment
- (d) Logical
- (e) Bitwise
- (f) Membership
- (g) Identity

In [152]:
A = 17
B = 5
print("-----Arthmetic Operator-----")
print("Addition: " ,A+B)             
print("Subtraction:" ,A-B)           
print("Multiplication:" ,A*B)        
print("Division:" ,A/B)              
print("Floor Division:" , A//B)      
print("Modulus:" , A%B)              
print("Expenont:" ,A**B)             
print("-----Comparsion Operator")
print("Equal: " , A==B)
print("Not Equal:" , A!=B)
print("Greater then:" , A > B)
print("Less then:" , A < B)
print("Greater or Equal:" , A >= B)
print("Less or Eqal:" , A <=B)
print("----- Assignment Operators -----")
x = 5
x += 2
print("x += 2 ->", x)
x -= 1
print("x -= 1 ->", x)
x *= 3
print("x *= 3 ->", x)
x /= 2
print("x /= 2 ->", x)
x //= 2
print("x //= 2 ->", x)
x %= 2
print("x %= 2 ->", x)
x **= 3
print("x **= 3 ->", x)
print("-----Logical Operator-----")
p = True
q = False
print("p and q ->", p and q)
print("p or q ->", p or q)
print("p not q ->",  not q)
print("----- Bitwise Operators -----")
print("A & B->:", A & B)
print("A | B->:", A|B)
print("A ^ B - >" , A^B)
print("A ^ B ->", A ^ B)
print("A << 1 ->", A << 1)
print("A >> 1 ->", A >> 1)
print("----- Membership Operators -----")
List1 = [1,3,5,7,10]
print("A in List1 ->", A in List1)
print("B in not List1 ->", B in List1)
print("-----Indentity Operator-----")
C = 60
print("A is C -> ",  A is C)
print("A is not B ->", A is not B)

-----Arthmetic Operator-----
Addition:  22
Subtraction: 12
Multiplication: 85
Division: 3.4
Floor Division: 3
Modulus: 2
Expenont: 1419857
-----Comparsion Operator
Equal:  False
Not Equal: True
Greater then: True
Less then: False
Greater or Equal: True
Less or Eqal: False
----- Assignment Operators -----
x += 2 -> 7
x -= 1 -> 6
x *= 3 -> 18
x /= 2 -> 9.0
x //= 2 -> 4.0
x %= 2 -> 0.0
x **= 3 -> 0.0
-----Logical Operator-----
p and q -> False
p or q -> True
p not q -> True
----- Bitwise Operators -----
A & B->: 1
A | B->: 21
A ^ B - > 20
A ^ B -> 20
A << 1 -> 34
A >> 1 -> 8
----- Membership Operators -----
A in List1 -> False
B in not List1 -> True
-----Indentity Operator-----
A is C ->  False
A is not B -> True

# Q4 Calculate Percentage of Marks.

In [174]:
English = 80
Math = 65
Economic = 85
TotalMarks = 300
Obtained= English + Math + Economic
Percentage=(Obtained/TotalMarks)*100
print("TotalMarks:" ,TotalMarks)
print("Obtained:" ,Obtained)
print("percentage:" ,percentage, "%")

TotalMarks: 300
Obtained: 230
percentage: 76.66666666666667 %

# Q5 A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [176]:
Salary = 50000
years = 8
if years >= 8:
    bouns = Salary*0.05
    print ("Bouns Amout:", bouns)
else:
    ("NO Bouns")

Bouns Amout: 2500.0

# Q6 Write a program to check whether a person is eligible for voting or not. (accept age from user) if age is greater than 17 eligible otherwise not eligible.

In [186]:
age =int(input("Enter your age:"))
if age >17:
    print("Eligible")
else:
    print("Not Eligible")

Enter your age: 17

Not Eligible

# Q7 Write a program to check whether a number entered by user is even or odd.

In [192]:
num = int(input("Enter a number:"))

if num % 2 == 0:
    print(num, "is Even")
else:
    print(num, "is Odd")

Enter a number: 17

17 is Odd