# Jupyter notebook shortcuts key

# 1. Command Mode (Press Esc to enter)

- Esc + A → Insert a new cell above

- Esc + B → Insert a new cell below

- Esc + D, D → Delete the selected cell (press D twice)

- Esc + Z → Undo the last cell deletion

- Esc + X → Cut the selected cell

- Esc + C → Copy the selected cell

- Esc + V → Paste cell below

- Esc + Shift + V → Paste cell above

- Esc + M → Change cell to Markdown

- Esc + Y → Change cell to Code

- Esc + 1–6 → Change cell to Heading 1–6 (Markdown mode)

# 2. Edit Mode (Press Enter to enter)

- Ctrl + Enter → Run the selected cell

- Shift + Enter → Run cell and move to the next cell

- Alt + Enter → Run cell and insert a new cell below

- Tab → Code completion / suggestions

- Shift + Tab → Show tooltip/documentation for function/method

-Ctrl + / → Comment or uncomment selected code

# 3. General

Esc → Enter Command Mode

Enter → Enter Edit Mode

H → Show all keyboard shortcuts

# Python prin  Statement Example

In [21]:
print("Hello, Python!")
print('Welcome to python coding .')

Hello, Python!
Welcome to python coding .

# Print single

In [22]:
name = "ALi"
age ="25" 
print (name)
print (age)

ALi
25

# print with combain single line

In [23]:
name = "ALi"
age ="25" 
print ("name:" , name, " age:",age)

name: ALi  age: 25

# Print Multiple times

In [24]:
name = "ALi"
age ="25" 
print (name)
print (age) 
print (name)
print (age)
print("name:" , name," age:",age)
print("name :",  name, "age:",age)

ALi
25
ALi
25
name: ALi  age: 25
name : ALi age: 25

#  1 String Data example

In [25]:
name = "Qayas"
age="35"
print(name,age)

Qayas 35

# f-string Data example

In [28]:
weight = 45.50
extra = 2.55
total_weight = weight + extra
print(f"Total weight is {total_weight} kg")

Total weight is 48.05 kg

# 2 Integer Data example

In [26]:
a = 45
b = 5
print(a+b)

50

# 3 Floating Data example

In [27]:
weight = 5.50
print(weight, "kg")

5.5 kg

# 4 Boolean Data example

In [17]:
fruits = ["Apple", "Banana", "Cherry"]
print("Fruits:", fruits)
print(*fruits,", ")

Fruits: ['Apple', 'Banana', 'Cherry']
Apple Banana Cherry ,

# Print with Loops

In [18]:
for i in range(1, 6):
    print(f"Number: {i}")

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

# Print with Conditions statement !

In [36]:
age = 18
if age < 13:
    print("You are a child.")
elif 13 <= age < 18:
    print("You are a teenager.")
elif age >= 18 and age < 60:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are an adult.

In [38]:
age = 17
if age < 13:
    print("You are a child.")
elif 13 <= age < 18:
    print("You are a teenager.")
elif age >= 18 and age < 60:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are a teenager.

In [39]:
age = 12
if age < 13:
    print("You are a child.")
elif 13 <= age < 18:
    print("You are a teenager.")
elif age >= 18 and age < 60:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are a child.